body { /*padding-bottom: 70px;*/ overflow:hidden;}
.jumbotron { margin-bottom:0px; }
.navbar-fixed-bottom .container div { line-height:48px;}
.hidden { display: none; }
.scrollable {overflow-y: auto;max-height: calc(100vh - 330px);}